{% extends 'ecomsite/main.html' %}
{% load static %}
{% block content  %}

<div class="row">
  <div class="col-lg-12">
    <!-- Box element #1 - for showing the Total Items and Price of everything in the cart, along with the Checkout button -->
    <div class="box-element">
      <!--&#x2190 is HTML hex code for back arrow -->
      <!--The button below allows the user to go back to shoping further, if they aren't ready to checkout -->
      <a class="btn btn-outline-dark"href="{% url 'store' %}">&#x2190;Continue Shopping</a>
      <br>
      <br>
      <table class="table">
        <tr>
          <!-- We access the get_cart_total and get_cart_items functions via the order key passed in the context dict -->
          <th><h5>Items: <strong>{{order.get_cart_items}}</strong></h5></th>
          <th><h5>Grand Total: <strong>${{order.get_cart_total|floatformat:2}}</strong></h5></th>
          <th>
            <a style="float:right; margin: 5px;" class="btn btn-success" href="{% url 'checkout' %}">Checkout</a>
          </th>
        </tr>
      </table>
    </div>

    <!-- Box element #2 - for showing the Total Items and Price of everything in the cart, along with the Checkout button -->
    <div class="box-element">
      <!-- Each div inside the cart-row div represents a column -->
    <!-- We're using Bootstrap flexbox grid system to create separation between each of the 5 columns -->

      <div class="cart-row">
        <div style="flex:2"></div>
        <div style="flex:2"><strong>Item</strong></div>
        <div style="flex:1"><strong>Price</strong></div>
        <div style="flex:1"><strong>Quantity</strong></div>
        <div style="flex:1"><strong>Total</strong></div>
      </div>
      {% for item in items %}
      <div class="cart-row">
        <div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
        <div style="flex:2"><p>{{item.product.name}}</p></div>
        <div style="flex:1"><p>${{item.product.price|floatformat:2}}</p></div>
        <div style="flex:1">
          <p class="quantity">{{item.quantity}}</p>
          <div class="quantity">
            <img data-product="{{item.product.id}}" data-action="add" src="{% static 'images/arrow-up.png' %}" class="chg-quantity update-cart">
            <img data-product="{{item.product.id}}" data-action="remove"  src="{% static 'images/arrow-down.png' %}" class="chg-quantity update-cart">
          </div>
        </div>
        <!-- We can access the get_total function to get the order items total -->
        <div style="flex:1"><p>${{item.get_total|floatformat:2}}</p></div>
      </div>
      {% endfor %}

    </div>

  </div>
</div>
{% endblock %}
