{% extends 'ecomsite/main.html' %}
{% load static %}
{% block content  %}

<div class="row">
  <div class="col-lg-12">
    <!-- Box element #1 - for showing the Total Items and Price of everything in the cart, along with the Checkout button -->
    <div class="box-element">
      <!--&#x2190 is HTML hex code for back arrow -->
      <!--The button below allows the user to go back to shoping further, if they aren't ready to checkout -->
      <a class="btn btn-outline-dark"href="{% url 'store' %}">&#x2190;Continue Shopping</a>
      <br>
      <br>
      <table class="table">
        <tr>
          <th><h5>Items: <strong>3</strong></h5></th>
          <th><h5>Total: <strong>$30</strong></h5></th>
          <th>
            <a style="float:right; margin: 5px;" class="btn btn-success" href="{% url 'checkout' %}">Checkout</a>
          </th>
        </tr>
      </table>
    </div>

    <!-- Box element #2 - for showing the Total Items and Price of everything in the cart, along with the Checkout button -->
    <div class="box-element">

      <div class="cart-row">
        <div style="flex:2"></div>
        <div style="flex:2"><strong>Item</strong></div>
        <div style="flex:1"><strong>Price</strong></div>
        <div style="flex:1"><strong>Quantity</strong></div>
        <div style="flex:1"><strong>Total</strong></div>
      </div>

      <div class="cart-row">
        <div style="flex:2"><img class="row-image" src="{% static 'images/placeholder.png' %}"></div>
        <div style="flex:2"><p>Product1</p></div>
        <div style="flex:1"><p>$20</p></div>
        <div style="flex:1">
          <p class="quantity">2</p>
          <div class="quantity">
            <img src="{% static 'images/arrow-up.png' %}" class="chg-quantity">
            <img src="{% static 'images/arrow-down.png' %}" class="chg-quantity">
          </div>
        </div>
        <div style="flex:1"><p>$32</p></div>
      </div>

    </div>

  </div>
</div>
{% endblock %}
