<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1"/>
    <title>MyShop</title>
    {# Bootstrap stylesheet#}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {# Custom CSS# }
    <link rel="stylesheet" href="{% static 'css/ecomsite.css' %}">

    {# Custom Font #}
    <style media="screen">
      @font-face
      {
        font-family: 'Assistant';
        src: url('{% static 'fonts/Assistant-Light.otf' %}');

      }
    </style>
    <!-- Depending on whether the user is logged in or not, the add to cart button should behave differently -->
    <!-- If the user is logged in, the data should be sent to the backend and the cart items should be added to the database -->
    <!-- If the user is anonymous, we need to just add the data to the browser and store it there -->
    <!-- Part of the script below provides a CSRF token so that the cart.js script can communicate with the updateItem view -->
    <script type="text/javascript">
    var user = '{{request.user}}'
    /* getToken function creates a CSRF token so that the cart.js script can communicate with the updateItem view */
		function getToken(name)
    {
		    var cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = cookies[i].trim();
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
		var csrftoken = getToken('csrftoken')

    /* When a visitor comes to our website, we want to create a cookie for our cart. Regardless of whether they are logged in or not. */
    /* getCookie function will search for and parse a specific cookie that is stored in the user's browser. */

		function getCookie(name)
    {
		    // Split cookie string and get all individual name=value pairs in an array
		    var cookieArr = document.cookie.split(";");

		    // Loop through the array elements
		    for(var i = 0; i < cookieArr.length; i++) {
		        var cookiePair = cookieArr[i].split("=");

		        /* Removing whitespace at the beginning of the cookie name
		        and compare it with the given string */
		        if(name == cookiePair[0].trim()) {
		            // Decode the cookie value and return
		            return decodeURIComponent(cookiePair[1]);
		        }
		    }

		    // Return null if not found
		    return null;
		}
		var cart = JSON.parse(getCookie('cart'))
    /* If our browser does not contain a cookie called "cart", which is expected on the first load, this will create one.*/

		if (cart == undefined){
      /* First check the status of cart, then set cart to an empty Javasctript object and use document.cookie to set one. */
      cart = {}
			console.log('Cart Created!', cart)
      /* ";domain=;path=/" makes sure that we have the same cookie on every page. If not the cart will not be consistent across each page */
      document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
		}
		console.log('Cart:', cart)
    </script>

    <title></title>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-custom">
      <a class="navbar-brand" href="{% url 'store' %}">MyShop</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="" role="button" ><i class="fa fa-bars" aria-hidden="true" style="color:#e6e6ff"></i></span>
      </button>

      {% if user.is_authenticated %}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="navbar-text"><i>Welcome, {{user.username}}</i><span class="sr-only">(current)</span></a>
            </li>
          </ul>

          <!-- my-2 sets top and bottom margin to 0.5 and and my-lg-0 sets no margin for large breakpoint -->
          <a class="nav-link" href="{% url 'list' %}">My Orders</a>
          <div id="user-cart-div" class="form-inline my-2 my-lg-0">
            <a href="{% url 'logout' %}" class="btn btn-warning">Sign Out</a>
            <a href="{% url 'cart' %}">
            <img id="cart-icon" src="{% static 'images/cart.png' %}">
            </a>
            <p id="cart-total">{{cartItems}}</p>

          </div>
        </div>
      {% else %}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'howto' %}">Getting Started</a>
            </li>
          </ul>

          <!-- my-2 sets top and bottom margin to 0.5 and and my-lg-0 sets no margin for large breakpoint -->
          <div id="guest-cart-div"class="form-inline my-2 my-lg-0">
            <a href="{% url 'login' %}" class="btn btn-warning">Sign In</a>
            <a href="{% url 'cart' %}">
            <img id="cart-icon" src="{% static 'images/cart.png' %}">
            </a>
            <p id="cart-total">{{cartItems}}</p>

          </div>
        </div>

      {% endif %}

    </nav>

    <div class="container">
      <br>

      {% block content %}
      {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>

  </body>
</html>
